In [27]:
import numpy as np
import re

dtype=[('Emp_Id','i4'),('Last_Name','U15'),('First_Name','U15'),('Gender','U1'),('Title','U30')]
data=np.array([(1000,'Torbati','Yolanda','F','Programmer'),
               (1001,'Kleinn','Joel','M','Programmer'),
               (1002,'Ginsburg','Laura','F','President'),
               (1003,'Cox','Jennifer','F','Programmer'),
               (1005,'Ziada','Mauri','M','Product Designer'),
               (1006,'Keyser','Cara','F','Account Executive'),
               (1010,'Smith','Roxie','M','Programmer'),
               (1011,'Nelson','Robert','M','Programmer'),
               (1012,'Sachsen','Lars','M','Support Technician'),
               (1013,'Shannon','Don','M','Product Designer')
               ],dtype=dtype)
print(data)

[(1000, 'Torbati', 'Yolanda', 'F', 'Programmer')
 (1001, 'Kleinn', 'Joel', 'M', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1005, 'Ziada', 'Mauri', 'M', 'Product Designer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')
 (1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1011, 'Nelson', 'Robert', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

In [28]:
male_count=data[np.where(data['Gender']=='M')]
print("No. of male employees:",len(male_count))

No. of male employees: 6

In [29]:
pattern = re.compile('^S')
filtered_data = [employee for employee in data if pattern.match(employee['Last_Name'])]
filtered_data_array = np.array(filtered_data, dtype=dtype)
print("Last Name starts with S:",filtered_data_array)

Last Name starts with S: [(1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

In [30]:
female_data = data[data['Gender'] == 'F']
female_data.sort(order='First_Name')
female_data = female_data[::-1]
print('Female Employee details in descending order based on First_Name:\n',female_data)

Female Employee details in descending order based on First_Name:
 [(1000, 'Torbati', 'Yolanda', 'F', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')]

In [31]:
emp_id_1d = data['Emp_Id']
num_columns = 2
emp_id_2d = emp_id_1d.reshape(-1, num_columns)

print("1D Array (Emp_Id):")
print(emp_id_1d)

print("\n2D Array (Emp_Id):")
print(emp_id_2d)

1D Array (Emp_Id):
[1000 1001 1002 1003 1005 1006 1010 1011 1012 1013]

2D Array (Emp_Id):
[[1000 1001]
 [1002 1003]
 [1005 1006]
 [1010 1011]
 [1012 1013]]

In [49]:
rows_to_extract = [2,3,4,5,6,7,8]
columns_to_extract=['Emp_Id','Last_Name','Title']
extracted_data = data[rows_to_extract][columns_to_extract]

print("Extracted Data:")
print(extracted_data)

Extracted Data:
[(1002, 'Ginsburg', 'President') (1003, 'Cox', 'Programmer')
 (1005, 'Ziada', 'Product Designer') (1006, 'Keyser', 'Account Executive')
 (1010, 'Smith', 'Programmer') (1011, 'Nelson', 'Programmer')
 (1012, 'Sachsen', 'Support Technician')]