In [2]:
import pandas as pd
dtf = pd.read_csv('./Warehouse - Warehouse.csv')
dtf.describe()

,CATEGORY_ID,PRODUCT_ID,STANDARD_COST,LIST_PRICE,REGION_ID,QUANTITY
count,100.0,100.000000,100.000000,100.000000,100.000000,100.000000
mean,1.0,134.940000,1553.757300,1973.728000,2.320000,120.920000
std,0.0,90.050695,876.052857,1159.327519,0.468826,64.018255
min,1.0,4.000000,688.350000,864.980000,2.000000,6.000000
25%,1.0,11.000000,706.990000,949.890000,2.000000,63.000000
50%,1.0,161.000000,1343.840000,1699.000000,2.000000,115.500000
75%,1.0,185.000000,2128.670000,2699.990000,3.000000,175.250000
max,1.0,281.000000,4058.990000,5499.990000,3.000000,251.000000

In [3]:
dtf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CATEGORY_ID     100 non-null    int64
 1   CATEGORY_NAME   100 non-null    object
 2   PRODUCT_ID      100 non-null    int64
 3   PRODUCT_NAME    100 non-null    object
 4   DESCRIPTION     100 non-null    object
 5   STANDARD_COST   100 non-null    float64
 6   LIST_PRICE      100 non-null    float64
 7   COUNTRY_ID      100 non-null    object
 8   REGION_ID       100 non-null    int64
 9   LOCATION_ID     100 non-null    object
 10  WAREHOUSE_ID    100 non-null    object
 11  QUANTITY        100 non-null    int64
 12  WAREHOUSE_NAME  100 non-null    object
 13  ADDRESS         100 non-null    object
 14  POSTAL_CODE     100 non-null    object
 15  CITY            100 non-null    object
 16  STATE           100 non-null    object
 17  COUNTRY_NAME    100 non-null    object
 18  PERFORMANCE     100 non-null    object
 19  RATING          100 non-null    object
dtypes: float64(2), int64(4), object(14)
memory usage: 15.8+ KB

In [4]:
dtf.shape

(100, 20)

In [5]:
dtf.isnull()

,CATEGORY_ID,CATEGORY_NAME,PRODUCT_ID,PRODUCT_NAME,DESCRIPTION,STANDARD_COST,LIST_PRICE,COUNTRY_ID,REGION_ID,LOCATION_ID,WAREHOUSE_ID,QUANTITY,WAREHOUSE_NAME,ADDRESS,POSTAL_CODE,CITY,STATE,COUNTRY_NAME,PERFORMANCE,RATING
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
dtf_delete=dtf.dropna()
print(dtf_delete)

    CATEGORY_ID CATEGORY_NAME  PRODUCT_ID  \
0             1    Video Card           4
1             1    Video Card           4
2             1    Video Card           4
3             1    Video Card           4
4             1    Video Card           4
..          ...           ...         ...
95            1    Video Card         281
96            1    Video Card         281
97            1    Video Card         281
98            1    Video Card         281
99            1    Video Card         281

                               PRODUCT_NAME  \
0                            AMD 100-505989
1                            AMD 100-505989
2                            AMD 100-505989
3                            AMD 100-505989
4                            AMD 100-505989
..                                      ...
95  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
96  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
97  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
98  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
99  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING

                                          DESCRIPTION  STANDARD_COST  \
0   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
1   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
2   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
3   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
4   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
..                                                ...            ...
95  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
96  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
97  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
98  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
99  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14

    LIST_PRICE COUNTRY_ID  REGION_ID LOCATION_ID WAREHOUSE_ID  QUANTITY  \
0      2699.99         CN          3          11            8        49
1      2699.99         IN          3          12                     35
2      2699.99         US          2           5            1       106
3      2699.99         US          2           6            2        96
4      2699.99         US          2           7            3        88
..         ...        ...        ...         ...          ...       ...
95      864.98         US          2           5            1       251
96      864.98         US          2           6            2       239
97      864.98         US          2           7            3       227
98      864.98         US          2           8            4       215
99      864.98         CA          2                        5       203

         WAREHOUSE_NAME              ADDRESS POSTAL_CODE                 CITY  \
0               Beijing  40-5-12 Laogianggen      190518              Beijing
1                Bombay   1298 Vileparle (E)      490231               Bombay
2      Southlake, Texas  2014 Jabberwocky Rd       26192            Southlake
3         San Francisco  2011 Interiors Blvd       99236  South San Francisco
4            New Jersey       2007 Zagora St       50090      South Brunswick
..                  ...                  ...         ...                  ...
95     Southlake, Texas  2014 Jabberwocky Rd       26192            Southlake
96        San Francisco  2011 Interiors Blvd       99236  South San Francisco
97           New Jersey       2007 Zagora St       50090      South Brunswick
98  Seattle, Washington      2004 Charade Rd       98199              Seattle
99              Toronto      147 Spadina Ave     M5V 2L7              Toronto

          STATE              COUNTRY_NAME PERFORMANCE  RATING
0      Shenzhen                     China           6  Medium
1   Maharashtra                     India           6  Medium
2         Texas  United States of America           6  Medium
3    California  United States of America           6  Medium
4    New Jersey  United States of America           6  Medium
..          ...                       ...         ...     ...
95        Texas  United States of America                High
96   California  United States of America                High
97   New Jersey  United States of America                High
98   Washington  United States of America                High
99      Ontario                    Canada                High

[100 rows x 20 columns]

In [9]:
dtf_replace=dtf.fillna(value='replace_val')
print(dtf_replace)
dtf_ffill=dtf.ffill()
print(dtf_ffill)
dtf_bfill=dtf.bfill()
print(dtf_bfill)

    CATEGORY_ID CATEGORY_NAME  PRODUCT_ID  \
0             1    Video Card           4
1             1    Video Card           4
2             1    Video Card           4
3             1    Video Card           4
4             1    Video Card           4
..          ...           ...         ...
95            1    Video Card         281
96            1    Video Card         281
97            1    Video Card         281
98            1    Video Card         281
99            1    Video Card         281

                               PRODUCT_NAME  \
0                            AMD 100-505989
1                            AMD 100-505989
2                            AMD 100-505989
3                            AMD 100-505989
4                            AMD 100-505989
..                                      ...
95  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
96  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
97  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
98  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
99  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING

                                          DESCRIPTION  STANDARD_COST  \
0   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
1   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
2   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
3   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
4   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
..                                                ...            ...
95  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
96  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
97  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
98  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
99  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14

    LIST_PRICE COUNTRY_ID  REGION_ID LOCATION_ID WAREHOUSE_ID  QUANTITY  \
0      2699.99         CN          3          11            8        49
1      2699.99         IN          3          12                     35
2      2699.99         US          2           5            1       106
3      2699.99         US          2           6            2        96
4      2699.99         US          2           7            3        88
..         ...        ...        ...         ...          ...       ...
95      864.98         US          2           5            1       251
96      864.98         US          2           6            2       239
97      864.98         US          2           7            3       227
98      864.98         US          2           8            4       215
99      864.98         CA          2                        5       203

         WAREHOUSE_NAME              ADDRESS POSTAL_CODE                 CITY  \
0               Beijing  40-5-12 Laogianggen      190518              Beijing
1                Bombay   1298 Vileparle (E)      490231               Bombay
2      Southlake, Texas  2014 Jabberwocky Rd       26192            Southlake
3         San Francisco  2011 Interiors Blvd       99236  South San Francisco
4            New Jersey       2007 Zagora St       50090      South Brunswick
..                  ...                  ...         ...                  ...
95     Southlake, Texas  2014 Jabberwocky Rd       26192            Southlake
96        San Francisco  2011 Interiors Blvd       99236  South San Francisco
97           New Jersey       2007 Zagora St       50090      South Brunswick
98  Seattle, Washington      2004 Charade Rd       98199              Seattle
99              Toronto      147 Spadina Ave     M5V 2L7              Toronto

          STATE              COUNTRY_NAME PERFORMANCE  RATING
0      Shenzhen                     China           6  Medium
1   Maharashtra                     India           6  Medium
2         Texas  United States of America           6  Medium
3    California  United States of America           6  Medium
4    New Jersey  United States of America           6  Medium
..          ...                       ...         ...     ...
95        Texas  United States of America                High
96   California  United States of America                High
97   New Jersey  United States of America                High
98   Washington  United States of America                High
99      Ontario                    Canada                High

[100 rows x 20 columns]
    CATEGORY_ID CATEGORY_NAME  PRODUCT_ID  \
0             1    Video Card           4
1             1    Video Card           4
2             1    Video Card           4
3             1    Video Card           4
4             1    Video Card           4
..          ...           ...         ...
95            1    Video Card         281
96            1    Video Card         281
97            1    Video Card         281
98            1    Video Card         281
99            1    Video Card         281

                               PRODUCT_NAME  \
0                            AMD 100-505989
1                            AMD 100-505989
2                            AMD 100-505989
3                            AMD 100-505989
4                            AMD 100-505989
..                                      ...
95  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
96  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
97  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
98  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
99  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING

                                          DESCRIPTION  STANDARD_COST  \
0   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
1   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
2   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
3   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
4   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
..                                                ...            ...
95  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
96  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
97  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
98  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
99  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14

    LIST_PRICE COUNTRY_ID  REGION_ID LOCATION_ID WAREHOUSE_ID  QUANTITY  \
0      2699.99         CN          3          11            8        49
1      2699.99         IN          3          12                     35
2      2699.99         US          2           5            1       106
3      2699.99         US          2           6            2        96
4      2699.99         US          2           7            3        88
..         ...        ...        ...         ...          ...       ...
95      864.98         US          2           5            1       251
96      864.98         US          2           6            2       239
97      864.98         US          2           7            3       227
98      864.98         US          2           8            4       215
99      864.98         CA          2                        5       203

         WAREHOUSE_NAME              ADDRESS POSTAL_CODE                 CITY  \
0               Beijing  40-5-12 Laogianggen      190518              Beijing
1                Bombay   1298 Vileparle (E)      490231               Bombay
2      Southlake, Texas  2014 Jabberwocky Rd       26192            Southlake
3         San Francisco  2011 Interiors Blvd       99236  South San Francisco
4            New Jersey       2007 Zagora St       50090      South Brunswick
..                  ...                  ...         ...                  ...
95     Southlake, Texas  2014 Jabberwocky Rd       26192            Southlake
96        San Francisco  2011 Interiors Blvd       99236  South San Francisco
97           New Jersey       2007 Zagora St       50090      South Brunswick
98  Seattle, Washington      2004 Charade Rd       98199              Seattle
99              Toronto      147 Spadina Ave     M5V 2L7              Toronto

          STATE              COUNTRY_NAME PERFORMANCE  RATING
0      Shenzhen                     China           6  Medium
1   Maharashtra                     India           6  Medium
2         Texas  United States of America           6  Medium
3    California  United States of America           6  Medium
4    New Jersey  United States of America           6  Medium
..          ...                       ...         ...     ...
95        Texas  United States of America                High
96   California  United States of America                High
97   New Jersey  United States of America                High
98   Washington  United States of America                High
99      Ontario                    Canada                High

[100 rows x 20 columns]
    CATEGORY_ID CATEGORY_NAME  PRODUCT_ID  \
0             1    Video Card           4
1             1    Video Card           4
2             1    Video Card           4
3             1    Video Card           4
4             1    Video Card           4
..          ...           ...         ...
95            1    Video Card         281
96            1    Video Card         281
97            1    Video Card         281
98            1    Video Card         281
99            1    Video Card         281

                               PRODUCT_NAME  \
0                            AMD 100-505989
1                            AMD 100-505989
2                            AMD 100-505989
3                            AMD 100-505989
4                            AMD 100-505989
..                                      ...
95  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
96  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
97  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
98  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
99  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING

                                          DESCRIPTION  STANDARD_COST  \
0   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
1   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
2   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
3   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
4   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
..                                                ...            ...
95  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
96  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
97  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
98  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
99  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14

    LIST_PRICE COUNTRY_ID  REGION_ID LOCATION_ID WAREHOUSE_ID  QUANTITY  \
0      2699.99         CN          3          11            8        49
1      2699.99         IN          3          12                     35
2      2699.99         US          2           5            1       106
3      2699.99         US          2           6            2        96
4      2699.99         US          2           7            3        88
..         ...        ...        ...         ...          ...       ...
95      864.98         US          2           5            1       251
96      864.98         US          2           6            2       239
97      864.98         US          2           7            3       227
98      864.98         US          2           8            4       215
99      864.98         CA          2                        5       203

         WAREHOUSE_NAME              ADDRESS POSTAL_CODE                 CITY  \
0               Beijing  40-5-12 Laogianggen      190518              Beijing
1                Bombay   1298 Vileparle (E)      490231               Bombay
2      Southlake, Texas  2014 Jabberwocky Rd       26192            Southlake
3         San Francisco  2011 Interiors Blvd       99236  South San Francisco
4            New Jersey       2007 Zagora St       50090      South Brunswick
..                  ...                  ...         ...                  ...
95     Southlake, Texas  2014 Jabberwocky Rd       26192            Southlake
96        San Francisco  2011 Interiors Blvd       99236  South San Francisco
97           New Jersey       2007 Zagora St       50090      South Brunswick
98  Seattle, Washington      2004 Charade Rd       98199              Seattle
99              Toronto      147 Spadina Ave     M5V 2L7              Toronto

          STATE              COUNTRY_NAME PERFORMANCE  RATING
0      Shenzhen                     China           6  Medium
1   Maharashtra                     India           6  Medium
2         Texas  United States of America           6  Medium
3    California  United States of America           6  Medium
4    New Jersey  United States of America           6  Medium
..          ...                       ...         ...     ...
95        Texas  United States of America                High
96   California  United States of America                High
97   New Jersey  United States of America                High
98   Washington  United States of America                High
99      Ontario                    Canada                High

[100 rows x 20 columns]

In [13]:
sample=dtf.groupby('CATEGORY_NAME')
filt_grp=sample.get_group('Video Card')
print(filt_grp)

    CATEGORY_ID CATEGORY_NAME  PRODUCT_ID  \
0             1    Video Card           4
1             1    Video Card           4
2             1    Video Card           4
3             1    Video Card           4
4             1    Video Card           4
..          ...           ...         ...
95            1    Video Card         281
96            1    Video Card         281
97            1    Video Card         281
98            1    Video Card         281
99            1    Video Card         281

                               PRODUCT_NAME  \
0                            AMD 100-505989
1                            AMD 100-505989
2                            AMD 100-505989
3                            AMD 100-505989
4                            AMD 100-505989
..                                      ...
95  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
96  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
97  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
98  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING
99  Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING

                                          DESCRIPTION  STANDARD_COST  \
0   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
1   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
2   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
3   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
4   Chipset:FirePro W9100,Memory:32GBCore Clock:93...        2128.67
..                                                ...            ...
95  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
96  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
97  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
98  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14
99  Chipset:GeForce GTX 1080 Ti,Memory:11GBCore Cl...         696.14

    LIST_PRICE COUNTRY_ID  REGION_ID LOCATION_ID WAREHOUSE_ID  QUANTITY  \
0      2699.99         CN          3          11            8        49
1      2699.99         IN          3          12                     35
2      2699.99         US          2           5            1       106
3      2699.99         US          2           6            2        96
4      2699.99         US          2           7            3        88
..         ...        ...        ...         ...          ...       ...
95      864.98         US          2           5            1       251
96      864.98         US          2           6            2       239
97      864.98         US          2           7            3       227
98      864.98         US          2           8            4       215
99      864.98         CA          2                        5       203

         WAREHOUSE_NAME              ADDRESS POSTAL_CODE                 CITY  \
0               Beijing  40-5-12 Laogianggen      190518              Beijing
1                Bombay   1298 Vileparle (E)      490231               Bombay
2      Southlake, Texas  2014 Jabberwocky Rd       26192            Southlake
3         San Francisco  2011 Interiors Blvd       99236  South San Francisco
4            New Jersey       2007 Zagora St       50090      South Brunswick
..                  ...                  ...         ...                  ...
95     Southlake, Texas  2014 Jabberwocky Rd       26192            Southlake
96        San Francisco  2011 Interiors Blvd       99236  South San Francisco
97           New Jersey       2007 Zagora St       50090      South Brunswick
98  Seattle, Washington      2004 Charade Rd       98199              Seattle
99              Toronto      147 Spadina Ave     M5V 2L7              Toronto

          STATE              COUNTRY_NAME PERFORMANCE  RATING
0      Shenzhen                     China           6  Medium
1   Maharashtra                     India           6  Medium
2         Texas  United States of America           6  Medium
3    California  United States of America           6  Medium
4    New Jersey  United States of America           6  Medium
..          ...                       ...         ...     ...
95        Texas  United States of America                High
96   California  United States of America                High
97   New Jersey  United States of America                High
98   Washington  United States of America                High
99      Ontario                    Canada                High

[100 rows x 20 columns]